.ConditionEntry {}

.entry-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.entry-title.condition {
    color: #FF9900;
}

.icon-backdrop {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.icon-backdrop.condition {
    background: #FF9900;
}
