body {
  margin: 0;
  font-family: 'Nunito Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.card-label {
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #0F172A;
}


.card-badge {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background: #4F46E5;
  border-radius: 2px!important;
  margin-bottom: 6px;
  box-sizing: border-box;
  }

.vertical-line {
    border:         none;
    border-left:    1px solid #E2E8F0;
    margin-left: 60px;
    height:         425px;
    width:          1px;

}
