.VaccinationPassHeader {
    min-height: 118px;
    border-bottom: 1px solid #E2E8F0;
    width: 100vw;
}

.table-separator {
    height: 39px;
}

.logo {
    position: absolute;
    width: 120px;
    height: 32px;
    left: 24px;
    top: 20px;
}