.VaccinationEntry {
}

.entry-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.entry-title.vaccination {
    color: #9747FF;
}

.note-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
    background: #D5F0FF;
    border-radius: 4px;
}

.icon-backdrop {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.icon-backdrop.vaccination {
    background: #9747FF;
}
