:host {
  font-family: var(--mio-font-family);
}

.mio-viewer-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 440;
  position: relative;
  min-width: min-content;
}

.mio-viewer-column {
  flex: 2;
  width: 66%;
  box-sizing: border-box;
  position: relative;
  min-width: min-content;
  flex-wrap: nowrap;
}

.mio-viewer-columnDetails {
  flex: 2;
  width: 33%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  min-width: min-content;
}
.mio-viewer-columnDetailsExpanded {
  flex: 2;
  max-width: 173px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  min-width: min-content;
}
.mio-viewer-columnhead {
  margin-top: 0;
}

.mio-viewer-small-column {
  flex: 1;
  max-width: 50px;
  box-sizing: border-box;
  padding: 10px;
}
.mio-viewer-textErkrankung {
  color: var(--mio-impfpass-illness);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mio-viewer-text {
  color: var(--mio-content-paragraph-primary);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  gap: 5px;
}

.mio-viewer-textHead {
  color: var(--mio-content-paragraph-secondary);
  font-size: 12px;
  font-weight: 400;
}

.mio-viewer-textDetails {
  color: var(--mio-content-interactive);
  text-align: right;
  font-size: 12px;
  font-weight: 600;
}

.mio-viewer-expandLogo {
  cursor: pointer;
}

.mio-viewer-info {
  cursor: pointer;
}

.mio-viewer-info-wrapper:hover .mio-viewer-impfpass-condition-information {
  display: block;
}

.mio-viewer-anchor-container {
  position: relative;
}

.mio-viewer-anchored {
  position: absolute;
  bottom: calc(100% + 12px);
  transform: translateX(-62%);
  z-index: 1;
}
